
body {
	padding-top: 50px;
	padding-bottom: 0;
}

.footer-yo{
	margin-bottom: 0;
}
			
#ace-editor {
	width:100%;
	height:45px;
}

#ace-code {
	width:100%;
	height:600px;
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}